@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
#mainIndexPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
main h1{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
}
main p {
    font-family: 'Raleway', sans-serif;
}
#TextMain {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 30vh;
}
#containerButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------page flashcards.html ----------------------- */
#mainFlashCardsPage{
    display: flex;
    flex-direction: row-reverse;
    
    justify-content: space-between;
    
}
.flex-items:nth-child(1) {
    flex-shrink: 1;
    background-image: linear-gradient( 179.1deg,  rgba(247,238,238,1) -1.9%, rgba(247,202,201,1) 44.9%, rgba(145,168,208,1) 96.1% );
    width: 450px;
}
.flex-items:nth-child(2) {
    flex-grow: 1;
    height: 100vh;
    background-image: linear-gradient( 109.6deg,  rgba(128,144,233,1) 17.4%, rgba(171,88,238,1) 52.4%, rgba(255,129,246,1) 91% );
    border-right: 2px solid black;
    position: relative;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
    
}
/* ----------------page falshcards.html section ------------------- */
#rondaDeFlashCards_container{
    display: none;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 100px 250px;
}
#rondaDeFlashCards{
    display: block;
    opacity: 1;

}
.card_containerSection{
    width: 290px;
    height: 150px;
    background: rgb(103, 225, 255);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.655);
    font-size: 20px;
    font-weight: 540;
    margin: 25px 0 5px 15px;
}
.first-contentSection {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}
.card_containerSection:hover .first-contentSection {
    height: 0px;
    opacity: 0;
}
.second-contentSection {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
}
.card_containerSection:hover .second-contentSection {
    opacity: 1;
    height: 100%;
    font-size: 1.0rem;
    transform: rotate(0deg);
}
#inicioDeRonda{
top: 10%;
    left: 10%; 
}
#buttonPlusCard{
    margin-top: 2%;
    left: 55%;
}
#OcultarMostrarListado{
    margin-top:13%;
    left: 25%;
}

.inicioDeRondaClass  {
    color: #fff;
    background-color: #070000;
    
    width: 19em;
    height: 3em;
    border-radius: 30em;
    font-size: 14px;
    
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #fff,
                -6px -6px 12px #070505;
}
.inicioDeRondaClass::before  {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient( 109.6deg, rgba(128,144,233,1) 17.4%, rgba(171,88,238,1) 52.4%, rgba(255,129,246,1) 91% );
    transition: .5s ease;
    display: block;
    z-index: -1;
}
.inicioDeRondaClass:hover::before {
    width: 20em;
}



/* -------------Page flashcards.html nav--------------------- */


#card{
    display: none;
    flex-wrap: wrap;
}
.card_container{
    width: 130px;
    height: 90px;
    background: rgb(103, 225, 255);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.655);
    font-size: 20px;
    font-weight: 540;
    margin: 25px 0 5px 15px;

}
.card_container:hover{
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    background: rgb(103, 151, 255);
}
.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}
.card_container:hover .first-content {
    height: 0px;
    opacity: 0;
}
.second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
}
.card_container:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.0rem;
    transform: rotate(0deg);
}
#bttnEliminarCard{
    margin-top: -88px;
    margin-left: 97px;
    position: absolute;
}